# Managed by ansible/deploy.yml (production). Secrets come from ~/.credentials on the deploy machine.
DEBUG = False
SECRET_KEY = '{{ django_secret_key }}'
ALLOWED_HOSTS = {{ ([api_domain] + api_alias_domains + [server_ipv4, '127.0.0.1']) | to_json }}
BACKEND_URL = '{{ backend_url }}'
SITE_URLS = {{ site_urls | to_json }}
DATABASE = {
    'ENGINE': 'django.db.backends.postgresql',
    'NAME': '{{ db_name }}', 'USER': '{{ db_user }}', 'PASSWORD': '{{ db_password }}', 'HOST': 'localhost', 'PORT': '5432',
}
PUBLIC_API_KEYS = ['{{ public_api_key }}']
SECRET_API_KEYS = ['{{ secret_api_key }}']
STRIPE_PUBLISHABLE_KEY = ''
STRIPE_SECRET_KEY = ''
STRIPE_WEBHOOK_SECRET = ''
DEFAULT_FROM_EMAIL = '"Iguana Comedy" <no-reply@{{ site_domain }}>'
EMAIL_HOST = 'localhost'
EMAIL_PORT = 25
NOTIFY_EMAILS = {{ notify_emails | to_json }}
GEOIP_DB = '{{ geoip_db }}'
